<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenxi.bzbb.domain.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.chenxi.bzbb.domain.model.Order" >
    <constructor >
      <idArg column="id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="goods" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="total" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="uid" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="coupon" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="address" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="fastmail" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="trackingnum" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, goods, status, total, uid, coupon, address, fastmail, trackingnum, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.chenxi.bzbb.domain.model.OrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from order_
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order_
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order_
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.chenxi.bzbb.domain.model.OrderExample" >
    delete from order_
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.chenxi.bzbb.domain.model.Order" >
    insert into order_ (id, goods, status, 
      total, uid, coupon, address, 
      fastmail, trackingnum, createtime
      )
    values (#{id,jdbcType=VARCHAR}, #{goods,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{total,jdbcType=DECIMAL}, #{uid,jdbcType=BIGINT}, #{coupon,jdbcType=BIGINT}, #{address,jdbcType=BIGINT}, 
      #{fastmail,jdbcType=INTEGER}, #{trackingnum,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.chenxi.bzbb.domain.model.Order" >
    insert into order_
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goods != null" >
        goods,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="total != null" >
        total,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="coupon != null" >
        coupon,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="fastmail != null" >
        fastmail,
      </if>
      <if test="trackingnum != null" >
        trackingnum,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        #{total,jdbcType=DECIMAL},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="coupon != null" >
        #{coupon,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        #{address,jdbcType=BIGINT},
      </if>
      <if test="fastmail != null" >
        #{fastmail,jdbcType=INTEGER},
      </if>
      <if test="trackingnum != null" >
        #{trackingnum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.chenxi.bzbb.domain.model.OrderExample" resultType="java.lang.Integer" >
    select count(*) from order_
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update order_
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.goods != null" >
        goods = #{record.goods,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.total != null" >
        total = #{record.total,jdbcType=DECIMAL},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.coupon != null" >
        coupon = #{record.coupon,jdbcType=BIGINT},
      </if>
      <if test="record.address != null" >
        address = #{record.address,jdbcType=BIGINT},
      </if>
      <if test="record.fastmail != null" >
        fastmail = #{record.fastmail,jdbcType=INTEGER},
      </if>
      <if test="record.trackingnum != null" >
        trackingnum = #{record.trackingnum,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update order_
    set id = #{record.id,jdbcType=VARCHAR},
      goods = #{record.goods,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      total = #{record.total,jdbcType=DECIMAL},
      uid = #{record.uid,jdbcType=BIGINT},
      coupon = #{record.coupon,jdbcType=BIGINT},
      address = #{record.address,jdbcType=BIGINT},
      fastmail = #{record.fastmail,jdbcType=INTEGER},
      trackingnum = #{record.trackingnum,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.chenxi.bzbb.domain.model.Order" >
    update order_
    <set >
      <if test="goods != null" >
        goods = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="total != null" >
        total = #{total,jdbcType=DECIMAL},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="coupon != null" >
        coupon = #{coupon,jdbcType=BIGINT},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=BIGINT},
      </if>
      <if test="fastmail != null" >
        fastmail = #{fastmail,jdbcType=INTEGER},
      </if>
      <if test="trackingnum != null" >
        trackingnum = #{trackingnum,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.chenxi.bzbb.domain.model.Order" >
    update order_
    set goods = #{goods,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      total = #{total,jdbcType=DECIMAL},
      uid = #{uid,jdbcType=BIGINT},
      coupon = #{coupon,jdbcType=BIGINT},
      address = #{address,jdbcType=BIGINT},
      fastmail = #{fastmail,jdbcType=INTEGER},
      trackingnum = #{trackingnum,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>